.footer {
  background-color: $black;
  color: $white;
  padding: $padding-general-x 1;
  display: -webkit-flex; /* Safari */ /* Safari 6.1+ */
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;

  .copyright {
    @include float-right;
    a {
      color: pink;
    }
  }
}
